<footer id="footer">
   <div class="container ptb-30">
      <hr/>
      <div class="space-15"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p>&copy; <%= Date.today.year %> Jean-David Grattepanche. All Rights Reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
          <ul class="list-unstyled list-inline">
            <li><a href="mailto:jeandavid.grattepanche@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/JDGrattepanche?lang=fr"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <a href="http://guillaumecaulier.com" target="_blank" id="gui"><i class="fa fa-code" aria-hidden="true"></i> by Guillaume Caulier</a>
   </div>
</footer>
