---
title: Phd Abstract//Jean-David Grattepanche
---
<section>
  <div class="mini-header">
    <div class="header-title wow fadeIn">
      <h1 class="shadow">Phd Abstract</h1>
    </div>
  </div>
</section>

<section>
   <div class="container ptb">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="ptb-30">
            <p>DOCTORAT : Science de la Matière, du Rayonnement et de l’Environnement (SMRE)</p>
            <p>DISCIPLINE : GEPO (Géosciences, Ecologie, Paléontologie, Océanographie)</p>
            <p>Spécialité : Océanographie biologique</p>
            <p>Université du Littoral-Côte d'Opale</p>
          </div>
          <div class="ptb-30">
            <h4>REVIEWERS</h4>
            <p><b>DOLAN John R.</b>, DR CNRS, Lab. Océanographie de Villefranche UMR CNRS 7093, UPMC, Villefranche-sur-Mer, FRANCE. <br>
            <b>SIME-GANDO Télesphore</b>, DR CNRS, Lab. Microorganismes: Génome & Environnement UMR CNRS 6023, UPB, Clermont-Ferrand, FRANCE.</p>
          </div>
          <div class="ptb-30">
            <h4>EXAMINATOR</h4>
            <p><b>BRYLINSKI Jean-Michel</b>, Pr., Lab. Océanographie et Géosciences UMR CNRS 8187, ULCO, Wimereux, FRANCE. <br>
            <b>KORMAS Konstantinos Ar.</b>, Pr., Dept of Ichthyology & Aquatic Environment, University of Thessaly, Neo Ionia, GREECE. <br>
            <b>VINCENT Dorothée</b>, MC, Lab. Océanographie et Géosciences UMR CNRS 8187, ULCO, Wimereux, FRANCE. <br>
            <b>ZUBKOV Mikhail V.</b>, Pr., National Oceanography Center, University of Southampton, Southampton, UNITED KINGDOM.</p>
          </div>
          <div class="ptb-30">
            <h4>THESIS DIRECTOR</h4>
            <p><b>CHRISTAKI Urania, Pr.</b>, Lab. Océanographie et Géosciences UMR CNRS 8187, ULCO, Wimereux, FRANCE.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-7 col-sm-offset-1 big-text">
          <h4 class="ptb-30">ABSTRACT</h4>
          <p>&emsp;This PhD firstly aims to characterize the structure and variability of the heterotrophic protists community in eastern English Channel, in relation to the phytoplankton recurrent spring blooms and secondly to understand their trophic link with both phyto- and zooplankton.</p>
          <p>&emsp;In situ survey was carried out from February 2007 to July 2009 and allowed to assess (1) the seasonal variability of heterotrophic protists related to the phytoplankton succession (bottom-up control); (2) the year to year variability in relation with Phaeocystis globosa bloom magnitude and duration; (3) the importance of dinoflagellates as major consumers of phytoplankton, particularly of diatoms and P. globosa colonies (<100 µm). This survey also suggested the top-down control on heterotrophic protists by copepods.</p>
          <p>&emsp;Dilution experiments carried out throughout the spring 2009 confirmed in situ observations. In fact, microzooplankton consumption often equalled or exceeded phytoplankton production. Results from size-fractionated dilution experiments revealed different size class of prey for ciliates (<10 µm) and dinoflagellates (>10 µm) suggesting the lack of trophic competition.</p>
          <p>&emsp;The PhD then focused on the importance of heterotrophy in the eastern English Channel via a dark microcosms experiment (19 days). This experiment confirmed that heterotrophic protists communities were efficient consumers of phytoplankton. Metazoans peaked one week delay after protists, suggesting time lag response to available trophic resource for these two groups. This experiment allowed to estimate the metazoan impact (particularly rotifers) on microzooplanktonic protozoans (predation/competition).</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 ptb text-center">
        <img src="images/phd.jpg" class="img-responsive" alt="" width="100%">
      </div>
   </div>
</section>
